/* =============
    Typography
============= */
@font-face{
    font-family: "Cute'n'Cuddly";
    src: url('../img/CuteNCuddly.ttf') format('truetype');
}
body{
    font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

.section-title{
    font-weight: 300;
}